body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #ff9aa2, #fecfef);
  height: 100vh;

  display: flex;
  justify-content: center;   /* Horizontal center */
  align-items: center;       /* Vertical center */
  
}

.container {
  text-align: center;
}


.title {
  font-size: 2.5rem;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.yes {
  background-color: #ff4d6d;
  color: white;
}

.no {
  background-color: white;
}

button:hover {
  transform: scale(1.1);
}

.heart {
  font-size: 60px;
  margin: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.heart:active {
  transform: scale(1.2);
}

.box {
  width: 120px;
  height: 200px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  background: white;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, #ff4d6d, #ff99ac);
  transition: height 0.1s linear;
}

/* Romantic message styling */
.loveText h2 {
  margin: 10px 0;
  color: #ff004f;
  font-size: 24px;
}

.loveText h3 {
  margin: 5px 0;
  color: #c9184a;
  font-size: 18px;
  font-weight: normal;
}

/* Image styling */
.mainImg {
  width: 220px;
  margin-bottom: 20px;
  animation: pop 0.8s ease forwards;
}

.loveText {
  margin-top: 10px;
}

/* Pop animation */
@keyframes pop {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
.balloonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}



.balloons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.emojiBalloon {
  position: absolute;
  bottom: -50px;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120vh);
  }
}
